/* body {
    margin: 0;
    overflow: hidden;
  }
  
  .ssection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
  } */